@model RoleAdminViewModel

@{
    ViewBag.Title = "Roles Admin";
    Layout = "_Layout";
}

<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Create Role</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <div class="d-flex flex-row justify-content-between">  
                        <div class="col-auto">
                            <h5 class="card-title mb-0">User and Role Management</span></h5>
                        </div>
                        <div class="col-auto">
                            <a asp-action="Create" asp-controller="RoleAdmin" class="btn btn-sm btn-primary">Add New Role</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">                                            
                    <div class="col" style="margin: 20px;">
                        <div class="col-sm-12 col-md-12 col-lg-12"  style="float:none; margin: 0 auto;">
                            @* <div class="form-group text-right">
                                <span><a asp-action="Create" class="btn btn-outline-info">Add New Role</a></span>                                                             
                                <hr />
                            </div> *@
                            <table class="table table-sm table-borderd">
                                <tr>
                                    <th>ID</th>
                                    <th>Role Name</th>
                                    <th>Users</th>
                                    <th class="text-info">Action</th>
                                </tr>

                                @if (Model.Roles.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">No Roles</td>
                                    </tr>
                                }
                                else
                                {
                                    var rolelist = Model.Roles.Where(r => r.Name == "Officer" || r.Name == "Admins" || r.Name == "Data Manager").ToList();
                                    @* foreach(var r in Model.Roles)
                                    {
                                        if(r.Name == "Officer" || r.Name == "Admins")
                                            rolelist.Add(r.Name)
                                    } *@

                                    foreach (var role in rolelist)
                                    {
                                        <tr>
                                            <td>@role.Id</td>
                                            <td>@role.Name</td>
                                            <td identity-role="@role.Id"></td>
                                            <td>
                                                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                                   
                                                    <a class="btn btn-sm btn-outline-info" 
                                                        asp-action="Edit"
                                                        asp-route-id="@role.Id">
                                                            <i class="align-middle" data-feather="edit" style="color: #00675A;"></i>&nbsp;
                                                    </a> 
                                                    <button type="submit"
                                                            class="btn btn-sm btn-outline-danger">
                                                        <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                    </button>

                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>                          
                                       
              
            </div>
        </div>

    </div>
</div>

            


