@model AccidentReportViewModel
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@{
    ViewData["Title"] = "Edit Report";
    Layout = "_Layout";

    var userId = userManager.GetUserId(User);
    User user = await userManager.FindByIdAsync(userId);
}

<style>
    #newreport{
        text-decoration: none;
    }

    #newreport:hover{
        margin-top: 2px;
        transition: 0.5s ease;        
    }

</style>

@section Scripts{
    <script>
        $(document).ready(function() {
            
            //Edit Accident Report
            $("#submitEditReport").on("click", function() {
                var formData = new FormData();
                formData.append("AccidentReport_AccidentReportID", $("#AccidentReport_AccidentReportID").val());
                formData.append("AccidentReport_AccidentDate", $("#AccidentReport_AccidentDate").val());
                formData.append("AccidentReport_AccidentTime", $("#AccidentReport_AccidentTime").val());
                formData.append("AccidentReport_AccidentLocation", $("#AccidentReport_AccidentLocation").val());
                formData.append("AccidentReport_AccidentDescription", $("#AccidentReport_AccidentDescription").val());
                formData.append("AccidentReport_CollisionID", $("#AccidentReport_CollisionID").val());
                formData.append("AccidentReport_NrPeopleKilled", $("#AccidentReport_NrPeopleKilled").val());
                formData.append("AccidentReport_NrPeopleInjured", $("#AccidentReport_NrPeopleInjured").val());      
                formData.append("AccidentReport_PoliceStationID", $("#AccidentReport_PoliceStationID").val());
                formData.append("AccidentReport_AccidentTypeID", $("#AccidentReport_AccidentTypeID").val());
                formData.append("AccidentReport_HitAndRun", $("#AccidentReport_HitAndRun").val());
                formData.append("AccidentReport_WeatherTypeID", $("#AccidentReport_WeatherTypeID").val());
                                                             
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditReportAjax", "AccidentReport")',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: formData,
                        success: editReportSuccessCallback,
                        error: editReportErrorCallback
                    });    
                //}           
            });              
                        
            function editReportErrorCallback() {
                alert("An error while editing your report. please try again.");
                //console.log("An error while editing your report. please try again."+response.responseMessage);
            };

            function editReportSuccessCallback(response) {
                if (response.responseCode == 0) {
                    
                    SectionEdit("Report Edit", "Accident ID: " + response.responseMessage 
                       + " was edited successfully.");   
                    //alert("success: report edited: ");                     
                    //console.log("success: report edited." + response.responseMessage);
                }
                else {
                    //alert("error: " response.responseCode);
                    console.log("code:"+response.responseMessage)
                    //console.log("code:" +response.responseCode + ", error:"+response.responseMessage);
                }
            };

            //Edit
            //Confirm Accident Report
            $("#confirmReport").on("click", function() {
                var formData = new FormData();
                formData.append("AccidentReport_AccidentReportID", $("#AccidentReport_AccidentReportID").val());
                formData.append("AccidentReport_Confirmed", $("#AccidentReport_Confirmed").val());

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConfirmReport", "AccidentReport")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: confirmReportSuccessCallback,
                    error: confirmReportErrorCallback
                });   

            });

            function confirmReportErrorCallback() {
                alert("An error while confirming your report. please try again.");
                //console.log(response.responseMessage)    
            };

            function confirmReportSuccessCallback(response) {
                if (response.responseCode == 0) {            
                    //alert("success: report confirmed.");        
                    ReportConfirmed("Report Confirmation", "Accident ID: " + response.responseMessage 
                        + " was confirmed successfully.");   
                    //console.log(response.responseMessage)                     
                }
                else {
                    //alert(response.responseCode);
                    console.log(response.ResponseMessage)
                }
            };

        });
    </script>
}    


<div class="container-fluid p-0"> 
                                             
    <div class="card">                    
            
        <div class="card-header">
            <h2 class="card-title">Edit Report</h2>
            <hr />            
        </div>
        
        @{            
            if(Model.Accounts != null && Model.Accounts.Count() != 0)
            {
                var v_id = Model.Accounts.Where(c => c.Id == userId).ToList();
                
                var s_id = "";
                foreach(var i in v_id)
                {
                    s_id = i.Id;
                } //Check if a user has created an acount.
            }
            if((await userManager.IsInRoleAsync(user,"Data Manager")) )
            {                    
                 <form asp-action="ConfirmReport" class="col-auto" style="padding: 2px;" method="post">  
                    @*<input type="hidden" asp-for="@Model.AccidentReport.AccidentReportID"  />     *@ 
                    <div class="card-body">                            
                        @await Component.InvokeAsync("EditReportAjax")
                    </div> 
                </form>    
                
            }
            if((await userManager.IsInRoleAsync(user,"Officer")) )
            {    
                <form asp-action="EditReport" class="col-auto needs-validation" style="padding: 2px;" method="post" novalidate >  
                    @*<input type="hidden" id="AccidentReport_AccidentReportID" asp-for="@Model.AccidentReport.AccidentReportID"  />                                  *@
                    <div class="card-body">                            
                        @await Component.InvokeAsync("EditReportAjax")
                    </div> 
                </form>                
            }
        }
      

    </div>
        
</div>

<script>

    // EnabAll();
    
    // el_id = document.getElementById('data_managerInputs');

    // window.onload = function() {
    //     data_managerInputs(el_id); 
    //     document.getElementById('AccidentReportEditID').disabled = false; 
    //     document.getElementById('ARID').disabled = false;         
    // };

    // function EnableConfirm(){
    //     document.getElementById('ARID').disabled = false;  
    //     document.getElementById('AccidentReportEditID').disabled = false;  
    // }

    // function Enab(){
    //     data_managerInputs(el_id);
    //     document.getElementById('AccidentReportEditID').disabled = false;  
    //      document.getElementById('ARID').disabled = false;  
    // }

    // function EnabAll(){
    //     data_managerInputs(el_id);
    //     document.getElementById('AccidentReportEditID').disabled = false; 
    //     document.getElementById('ARID').disabled = false;  
    // }

     const x = document.getElementById("AccidentLocation");

    //Geo-Location [HTML5 JS] - API
    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
        x.value = "Geolocation is not supported by this browser.";
    }
    }

    //Get LAt. and Long.
    function showPosition(position) {
        x.value = position.coords.latitude + "," + position.coords.longitude;
    }

    function showError(error) {
            switch(error.code) {
            case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
            case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
            case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
            case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
        }
    }


    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    });
    
</script>


@*@{
            
                if(Model.Accounts != null && Model.Accounts.Count() != 0)
                {
                    var v_id = Model.Accounts.Where(c => c.Id == userId).ToList();
                    
                    var s_id = "";
                    foreach(var i in v_id)
                    {
                        s_id = i.Id;
                    } //Check if a user has created an acount.
                }
                if((await userManager.IsInRoleAsync(user_id,"Data Manager")) )
                {
                    <form asp-action="EditReport" class="col-auto" style="padding: 2px;" method="post">                                                                     
                        <div class="card-body" id="data_managerInputs">  
                            <input type="text" class="text-danger" asp-for="@Model.AccidentReport.AccidentReportID"  />

                            @await Component.InvokeAsync("EditReport")
                        </div>                          
                    </form>
                   
                }
                if((await userManager.IsInRoleAsync(user_id,"Officer")) )
                {    
                    <form asp-action="EditReport" class="col-auto" style="padding: 2px;" method="post">                                    
                        <div class="card-body">                            
                            @await Component.InvokeAsync("EditReport")
                        </div> 
                    </form>                
                }
            }*@



@*
  <div class="d-flex flex-row justify-content-between">  

            <div class="col-auto">                                                
                <h4 class="h3 mb-3" style="line-height:40px;">Managing Accident Reports</h4>                 
            </div>       
            
        </div>
        
        <div class="row">
            <div class="col-12">
            
                <form asp-action="EditReport" class="col-auto" style="padding: 2px;" method="post">
                    <div class="accordion accordion-flush" id="accordionFlushExample1">

                        <input type="text" class="text-danger" asp-for="@Model.AccidentReport.AccidentReportID"  />

                        <!-- Accident Identification Details    -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne1" >                   
                                <button class="accordion-button collapsed btn btn-lg btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapseOne"> 
                                    Accident Identification Details                        
                                </button>                                        
                            </h2>                
                            <div id="flush-collapse1" class="accordion-collapse collapse accordion-body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                <div class="d-flex flex-row justify-content-between row">
                                    
                                
                                        <div class="col-sm-12">
                                            <h4 class="mb-1 mt-1">Accident Identification Details </h4>
                                            <hr />
                                        </div>
                                
                                        <div asp-validation-summary="All"></div>

                                        <div class="col-sm-6" style="margin:0 auto; float: none;">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-title mb-0">Accident ID</h5>
                                                </div>
                                                <div class="card-body">
                                                    <input type="text" asp-for="@Model.AccidentReport.AccidentID" class="form-control" placeholder="Accident ID">
                                                    <div><span asp-validation-for="@Model.AccidentReport.AccidentID" class="text-danger"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row"> 
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Accident Date</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="date" asp-for="@Model.AccidentReport.AccidentDate" class="form-control" placeholder="Accident Date">
                                                        <div><span asp-validation-for="@Model.AccidentReport.AccidentDate" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Accident Time</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="date" asp-for="@Model.AccidentReport.AccidentTime" class="form-control" placeholder="Accident Time">
                                                        <div><span asp-validation-for="@Model.AccidentReport.AccidentTime" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Accident Location</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="text" asp-for="@Model.AccidentReport.AccidentLocation" class="form-control" placeholder="Accident Location">
                                                        <div><span asp-validation-for="@Model.AccidentReport.AccidentLocation" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-8 text-center center" style="margin: 0 auto; float: none;">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Accident Description</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <textarea type="text" row="3" asp-for="@Model.AccidentReport.AccidentDescription" class="form-control" placeholder="Accident Description"></textarea>
                                                        <div><span asp-validation-for="@Model.AccidentReport.AccidentDescription" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Number of People Killed</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="number" asp-for="@Model.AccidentReport.NrPeopleKilled" class="form-control" placeholder="Number of Peope Killed">
                                                        <div><span asp-validation-for="@Model.AccidentReport.NrPeopleKilled" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Number of People Injured</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="number" asp-for="@Model.AccidentReport.NrPeopleInjured" class="form-control" placeholder="Number of Peope Injured">
                                                        <div><span asp-validation-for="@Model.AccidentReport.NrPeopleInjured" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Police Station</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <select class="form-select mb-3" asp-for="@Model.AccidentReport.PoliceStationID" asp-items="Model.PoliceStations_Select" >
                                                            <option selected>Select Police Station</option>
                                                        </select>
                                                        <div><span asp-validation-for="@Model.AccidentReport.PoliceStationID" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Area Name</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <select class="form-select mb-3" asp-for="@Model.AccidentReport.AreaCodeID" asp-items="Model.AreaCodes" >
                                                            <option selected>Select Area Name</option>                                   
                                                        </select>
                                                        <div><span asp-validation-for="@Model.AccidentReport.AreaCodeID" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Type of Accident</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <select class="form-select mb-3" asp-for="@Model.AccidentReport.AccidentTypeID" asp-items="Model.AccidentTypes_Select" >
                                                            <option selected>Select Accident Type</option>                                     
                                                        </select>
                                                        <div><span asp-validation-for="@Model.AccidentReport.AccidentTypeID" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Type of Weather</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <select class="form-select mb-3" asp-for="@Model.AccidentReport.WeatherTypeID" asp-items="Model.WeatherTypes" >
                                                            <option selected>Select Weather Type</option>                                    
                                                        </select>
                                                        <div><span asp-validation-for="@Model.AccidentReport.WeatherTypeID" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Type of Collision</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <select class="form-select mb-3" asp-for="@Model.AccidentReport.CollisionID" asp-items="Model.Collisions"  >
                                                            <option selected>Select Collision Type</option>
                                                        </select>
                                                        <div><span asp-validation-for="@Model.AccidentReport.CollisionID" class="text-danger"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Accident Details</button>                 
                                            <a href="~/AccidentReport/AddReport" class="btn btn-secondary">Cancel</a>
                                        </div>
                                
                                </div>
                            </div>
                        </div>

                        <!-- Road Details -->
                        <div class="accordion-item">
                            <h2 class="accordion-header " id="flush-headingOne2" >                   
                                <button class="accordion-button collapsed btn btn-lg btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseOne"> 
                                    Road Related Details                     
                                </button>                                        
                            </h2>                
                            <div id="flush-collapse2" class="accordion-collapse collapse accordion-body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                <div class="d-flex flex-row justify-content-between row">
                                    
                                    <div class="col-sm-12">
                                        <h4 class="mb-1 mt-1">Accident Factors</h4>
                                        <hr />
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Human Aspects of Accident</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-check">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="" />
                                                        <span class="form-check-label">
                                                            Accidents Classified According to Use/Non-use of Safety Device by Victim
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value=""/>
                                                        <span class="form-check-label">
                                                            Wearing of Helmets: Drivers
                                                        </span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option1" />
                                                        <span class="form-check-label"> Wearing of Helmets: Passengers</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Wearing of Seat Belts: Drivers</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Wearing of Seat Belts: Passengers</span>
                                                    </label>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Road Aspects of Accident</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-check">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="" />
                                                        <span class="form-check-label">
                                                            Please Choose Relevent Road Features of Accident
                                                        </span>
                                                    </label>

                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option1" />
                                                        <span class="form-check-label"> Straight road</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Curved road</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Culvert</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Bridge</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Pot Holes</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Steep Gradiant</span>
                                                    </label>
                                                
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Vehicle Aspects of Accident</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-check">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="" />
                                                        <span class="form-check-label">
                                                            Please Choose Relevent Vehicle Features of Accident
                                                        </span>
                                                    </label>

                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option1" />
                                                        <span class="form-check-label">Normally Loaded: Passengers</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Normally Loaded: Goods</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Overloaded/Hanging: Passengers</span>
                                                    </label>
                                                    <label class="form-check form-check-inline">
                                                        <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value="option2" />
                                                        <span class="form-check-label">Overloaded/Hanging: Goods</span>
                                                    </label>
                                                
                                                
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        
                        <!-- Drivers Details -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne2" >                   
                                <button class="accordion-button collapsed btn btn-lg btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapseOne"> 
                                    Drivers Details                       
                                </button>                                        
                            </h2>                
                            <div id="flush-collapse3" class="accordion-collapse collapse accordion-body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                <div class="d-flex flex-row justify-content-between row">
                                    
                                    <div class="col-sm-12">
                                        <h4 class="mb-1 mt-1">Vehicle Details</h4>
                                        <hr />
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card card-secondary">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Vehicle Registeration Number</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Vehicle Registeration Number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Type of Vehicle</h5>
                                            </div>

                                            <div class="card-body">
                                                <select class="form-select mb-3">
                                                    <option selected>Please Select Vehicle Type</option>
                                                    <option>1. Motorised Two Wheeler</option>
                                                    <option>2. Auto Rickshaw</option>
                                                    <option>3. Car/Jeep/Van/Taxi</option>
                                                    <option>4. Bus</option>
                                                    <option>5. Truck/Lorry</option>
                                                    <option>6. Heavy Articulated Vehicle/Trolly</option>
                                                    <option>7. Tempo/Tractor</option>
                                                    <option>8. Bicycle</option>

                                                    <option>9. Cycle rickshaw</option>
                                                    <option>10. Hand drawn cart</option>
                                                    <option>11. Animal drawn cart</option>
                                                    <option>12. Other (specify)</option>
                                                    <option>13. Not known</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Passengers Load</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Accident Location">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Goods Load</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Accident Location">
                                            </div>
                                        </div>      
                                    </div> 

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Mechanical Failure</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            value="option1"
                                                            name="radios-example"
                                                            checked />
                                                        <span class="form-check-label">
                                                            Yes
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            value="option2"
                                                            name="radios-example" />
                                                        <span class="form-check-label">
                                                        No
                                                        </span>
                                                    </label>
                                                
                                                </div>
                                            </div>
                                        </div>      
                                    </div>   

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Vehicle Load</h5>
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            value="option1"
                                                            name="radios-example"
                                                            checked />
                                                        <span class="form-check-label">
                                                            Passenger Load
                                                        </span>
                                                    </label>
                                                    <label class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            value="option2"
                                                            name="radios-example" />
                                                        <span class="form-check-label">
                                                        Goods Load
                                                        </span>
                                                    </label>                                           
                                                </div>
                                            </div>
                                        </div>      
                                    </div>  
                                    
                                    <div class="col-sm-12">
                                        <h4 class="mb-1 mt-1">Driver Details</h4>
                                        <hr />
                                    </div>

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Driver Name</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                        </div>      
                                    </div>
                                    
                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Driver Surname</h5>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control" placeholder="Surname">
                                            </div>
                                        </div>      
                                    </div> 

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Driver Race</h5>
                                            </div>
                                            <div class="card-body">
                                                <select class="form-select mb-3">
                                                    <option selected>Select Race</option>
                                                    <option>African</option>
                                                    <option>White</option>   
                                                    <option>Indian</option>
                                                    <option>Coloured</option> 
                                                    <option>Unknown</option>                                          
                                                </select>
                                            </div>
                                        </div>      
                                    </div>

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Driver Gender</h5>
                                            </div>
                                            <div class="card-body">
                                                <select class="form-select mb-3">
                                                    <option selected>Select Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>                                          
                                                </select>
                                            </div>
                                        </div>      
                                    </div>  
                                    
                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Driver License</h5>
                                            </div>
                                            <div class="card-body">
                                                <select class="form-select mb-3">
                                                    <option selected>Select License Type</option>
                                                    <option>Lic 1</option>
                                                    <option>Lic 2</option>                                          
                                                    <option>Lic 3</option>
                                                    <option>Lic 4</option>                                          
                                                </select>
                                            </div>
                                        </div>      
                                    </div>                

                                    <div class="col-sm-4">                               
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Safety Device Used</h5>
                                            </div>
                                            <div class="card-body">
                                                <select class="form-select mb-3">
                                                    <option selected>Select Device Used</option>
                                                    <option>Dev 1</option>
                                                    <option>De2 1</option>
                                                    <option>Dev 1</option>                                          
                                                </select>
                                            </div>
                                        </div>      
                                    </div>  

                                </div>
                            </div>
                        </div>

                        <!-- Data Confirmation -->
                        @{                
                            @if(await userManager.IsInRoleAsync(user,"Data Manager"))
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header " id="flush-headingOne5" >                   
                                        <button class="accordion-button collapsed btn btn-lg btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseOne"> 
                                            Data Confirmation              
                                        </button>                                        
                                    </h2>  

                                    <div id="flush-collapse5" class="accordion-collapse collapse accordion-body" style="margin: 2px;" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                        <div class="d-flex flex-row justify-content-between row">
                                            <div class="col-sm-12">
                                                <h4 class="mb-1 mt-1">Data Manager Signature</h4>
                                                <hr />
                                            </div>  
                                            <div class="col-auto mt-2 mb-2 text-center">

                                                <div class="col-sm-12" style="margin:0 auto;float:none;">                               
                                                    <div class="card">
                                                    
                                                        <div class="card-body">      
                                                            <div>                                                                            
                                                            
                                                                <label class="form-check">
                                                                    <input class="form-check-input" id="ARID" asp-for="@Model.AccidentReport.Confirmed" value="@Model.AccidentReport.Confirmed" type="checkbox" name="Confirm" />
                                                                    <span class="form-check-label"> 
                                                                        <h5 class="form-check-label">
                                                                            I confirm that I have read the road accident data as recorded by the officer.
                                                                        </h5>
                                                                    </span>
                                                                </label>   
                                                            
                                                                <button type="submit" id="btn_Confirm" class="btn btn-sm btn-outline-success">
                                                                    Confirm Accident Report
                                                                </button>
                                                                                                    
                                                            </div>
                                                        </div>
                                                    </div>      
                                                </div>                                                                                                                    
                                                                                    
                                            </div>                                            

                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @if(await userManager.IsInRoleAsync(user,"Officer"))
                        {               
                            <div class="accordion-item">
                                <h2 class="accordion-header " id="flush-headingOne2" >                   
                                    <button class="accordion-button collapsed btn btn-lg btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseOne"> 
                                        Complete Report                      
                                    </button>                                        
                                </h2>  

                                <div id="flush-collapse4" class="accordion-collapse collapse accordion-body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                    <div class="d-flex flex-row justify-content-between row">
                                        <div class="col-sm-12">
                                            <h4 class="mb-1 mt-1">Submit Report</h4>
                                            <hr />
                                        </div>  
                                        <div class="col-auto">
                                            <div class="">
                                                <button type="submit" class="btn btn-md btn-success">
                                                    Save Report
                                                </button>
                                                
                                            </div>
                                        </div>                                            

                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </form>
            
            </div>
        </div>
*@
        
