@model AccidentReportViewModel

@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@{
    ViewData["Title"] = "Accident Reporting";
    Layout = "_Layout";
    
    var userId = userManager.GetUserId(User);
    User user_id = await userManager.FindByIdAsync(userId);
    
}

<style>
    
    #newreport{
        text-decoration: none;
        transition: 0.1s ease;  
    }

    #newreport:hover{
        margin-top: 4px;
        transition: 0.3s ease;        
    }

  
    #reportDetailsStyle{
        transition: transform .2s ease;
        padding: 4px;    
        font-weight: 200;
    }

    #reportDetailsStyle:hover{         
        transform: scale(1.1)  
    }
   
   .scroll {
        height:400px;
        overflow-y: scroll;
        background-color: #F5F7FB;
    }
    
   .swal-text{
        max-height: 6em; 
        overflow-y: scroll;
        width: 100%;
    };
    

</style>



<div class="row">
    <div class="d-flex flex-row justify-content-between" >
        <div class="col-12">

            <div class="d-flex flex-row justify-content-between">  
                <div class="col-auto">                                                
                    <h1 class="h3 mb-3" style="line-height:40px;">Accident Reporting</h1>                       
                </div> 
                <div class="col-auto">
                    <div class="d-flex">                                   
                        <a href="~/AccidentReport/AddReport" id="newreport"class="col-auto"> 
                            <div class="col-auto stat text-primary">                                    
                                <i class="align-middle" data-feather="plus"></i>                         
                            </div>
                        </a>
                        <div class="col-auto">
                            <h1 class="h3 mb-3" style="line-height:40px;padding-left:5px;">New Report</h1>
                        </div>                
                    </div>     
                </div> 
            </div>
        
            <div class="card" >                    
            
                <div class="card-header" >
                    <div class="row">
                        <div class="col-sm-2" >
                            <h2 class="card-title col-form-label">Latest Accidents</h2>
                        </div>
                        <div class="col-sm-10" style="margin:0 auto; float: none;">
                            
                            <div class="row">
                                @*<div class="col-sm-2" style="margin:0 auto; float: right;">
                                    <h2 class="text-right col-form-label card-title">
                                        Filter / Sort: 
                                        <!-- @using (Html.BeginForm("AddReport","AccidentReport", System.Web.Mvc.FormMethod.Get))
                                        {
                                            <p>
                                                Find By Location: @Html.TextBox("SearchString")  
                                                <input type="submit" value="Search" />
                                            </p>

                                        } -->
                                    </h2>
                                </div>*@
                                
                                <div class="col-sm-3" >
                                    <select class="form-select mb-3" id="sortOrder">                                                         
                                        <option selected>Sort By Date</option> 
                                        <option value="Newest">@Html.ActionLink("Newest", "LatestAccidents", new { sortOrder = "Newest" })</option>
                                        <option value="Oldest">@Html.ActionLink("Oldest", "LatestAccidents", new { sortOrder = "Oldest" })</option>                                    
                                    </select>                           
                                </div>
                                
                                <div class="col-sm-3" >                                                                                                            
                                    <select class="form-select mb-3" id="sortConfirmed">                                                         
                                        <option selected>Filter By Confirmed</option> 
                                        <option value="Confirmed">@Html.ActionLink("Confirmed", "LatestAccidents", new { filterConfirmed = "Confirmed" })</option>
                                        <option value="Unconfirmed">@Html.ActionLink("Unconfirmed", "LatestAccidents", new { filterConfirmed = "Unconfirmed" })</option>                                            
                                    </select>                                            
                                </div>  
                                                                                                               
                                
                                <div class="col-sm-3" >                                                                   
                                    <select class="form-select mb-3" id="sortUser">                                                         
                                        <option selected>Filter By User</option> 
                                        <option value="LoggedIn">@Html.ActionLink("Logged In", "LatestAccidents", new { sortUser = "LoggedIn" })</option>
                                        <option value="AllUsers">@Html.ActionLink("All Users", "LatestAccidents", new { sortUser = "AllUsers" })</option>                                            
                                    </select>
                                </div>
                                   
                                <div class="col-sm-3" >
                                    @await Component.InvokeAsync("AccidentType")                                      
                                </div>
                            </div>
                        </div>

                    </div>                           
                    
                    <hr />
                    
                </div>

                @{
                    int AccountID_ = 0;

                    if((signInManager.IsSignedIn(User)))                                                
                    {
                        if(Model.Accounts != null && Model.Accounts.Count() != 0)
                        {
                            foreach (var item in Model.Accounts.Where(c => c.Id == user_id.Id))
                            {
                                AccountID_ = item.AccountID;
                            }
                        }
                    }
                } 

                @{
                    var Reps = from reps in Model.AccidentReports                                                                      
                                join pols in Model.PoliceStations
                                on reps.PoliceStationID equals pols.PoliceStationID
                                join acc_t in Model.AccidentTypes
                                on reps.AccidentTypeID equals acc_t.AccidentTypeID  
                                join acc in Model.Accounts
                                on reps.AccountID equals acc.AccountID                   
                                select new {
                                    reps.AccidentReportID,
                                    reps.AccidentID,
                                    reps.AccidentDate,
                                    pols.PoliceStationName,
                                    acc_t.TypeOfAccident,
                                    reps.AccountID,
                                    reps.Confirmed,   
                                    acc.Name,
                                    acc.Surname                                                                          
                                };

                    var ReportsRoadFactors = from reps2 in Model.AccidentReports
                                            join rfactors in Model.RoadFactors
                                            on reps2.AccidentReportID equals rfactors.AccidentReportID
                                            group reps2 by reps2.AccidentReportID 
                                            into repsrFactors
                                            select new{
                                                AccidentReportID = repsrFactors.Key,
                                                AccidentReportIDCount = repsrFactors.Count()
                                            };

                }

                <div class="card-body scroll">

                    <div class="d-flex flex-row justify-content-center">                        
                        <div class="row">
                            @if(Reps.Count() > 0)
                            {
                                @foreach (var item in Reps) //.Where(r => r.Confirmed == true))
                                {                    

                                    string sAccDet = "<div class=\"text-left\"><h4>" + item.AccidentID.ToString() + " | Reported By: " + item.Name + "" + item.Surname + "</h4>"  
                                            + "<hr />"                                                                                       
                                        + "<h5 class=\"text-left\">Police Station: " + item.PoliceStationName + "</h5>"
                                        + "<h5 class=\"text-left\">Type of Accident: " + item.TypeOfAccident + "</h5>"
                                        + "<h5 class=\"text-left\">Accident Time: " + item.AccidentDate.ToString("HH:mm:ss") + "</h5>"
                                        + "<h5 class=\"text-left\">Accident Date: " + item.AccidentDate.ToShortDateString() + "</h5>"
                                        + "<h5 class=\"text-left\">Confirmd: " + item.Confirmed.ToString() + "</h5>"
                                        + "<hr /></div>";
                                                                                                                                
                                        
                                    <div class="col-sm-4" style="padding-right:4px;" >                                            
                                        <div class="row" style="margin: 5px;"> 
                                            
                                            <div class="card" style="background-color; #F5F7FB; border: 1px solid #D3E2F7;"  >
                                                <div class="card-body" >
                                                    <div class="row">
                                                        
                                                        @if(item.Confirmed)
                                                        {
                                                            <div class="col-sm-12">

                                                                <div class="row" id="reportDetails">
                                                                                                                                
                                                                    <a style="text-decoration: none;" id="reportDetailsStyle" onclick="getReportDetail(this);" value="@sAccDet">
                                                                        <div class="col-sm-10">
                                                                            <div class="d-flex flex-row justify-content-between"> 
                                                                                <span class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirmed">
                                                                                    <i class="align-middle" style="color:green;" data-feather="alert-circle" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                                                                                    
                                                                        <h4 class="card-title"><span class="h4">Accident ID: </span>@item.AccidentID</h4>
                                                                        <h5><span class="fw-bold">Date of Accident: </span>@item.AccidentDate.ToShortDateString()</h5>
                                                                        <h5><span class="fw-bold">Police Station:</span> @item.PoliceStationName</h5>
                                                                        <h5><span class="fw-bold">Type of Accident: </span>@item.TypeOfAccident</h5>
                                                                    </a>
                                                                </div>

                                                                @if(@item.AccountID == AccountID_) //Officers can only edit/delete reports that they've created.
                                                                {                                                                        

                                                                    <div class="col-sm-12">
                                                                        @if((await userManager.IsInRoleAsync(user_id,"Officer")))
                                                                        {  
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <form asp-action="Delete" method="post" id="frm1">                                                                                 
                                                                                        <div class="d-flex flex-row justify-content-between">  
                                                                                            <input type="hidden" name="@item.AccidentReportID" id="@item.AccidentReportID" asp-for="@item.AccidentReportID" name="AccidentReportID"  class="form-control">
                                                                                            <div class="col-auto">
                                                                                                <a asp-action="EditReport" class="btn btn-sm btn-outline-info" asp-route-AccidentReportID="@item.AccidentReportID">
                                                                                                    <i class="align-middle" data-feather="edit"></i>&nbsp;
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="col-auto">
                                                                                                        
                                                                                              
                                                                                                <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                    <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                                </a>   
                                                                                              
                                                                                                
                                                                                            </div>                                                                               
                                                                                        </div>

                                                                                    </form>  
                                                                                    
                                                                                </div>
                                                                            </div>

                                                                        }
                                                                    </div>
                                                                }
                                                                
                                                                <div class="col-sm-12">
                                                                    @if((await userManager.IsInRoleAsync(user_id,"Data Manager")))
                                                                    {

                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <form asp-action="Delete" method="post" id="frm1">
                                                                                    <div class="d-flex flex-row justify-content-between"> 
                                                                                        
                                                                                        
                                                                                        <input type="hidden" asp-for="@item.AccidentReportID" value="@item.AccidentReportID" name="AccidentReportID" />
                                                                                            
                                                                                        <div class="col-auto">
                                                                                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Report">
                                                                                                <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                    <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                                </a>
                                                                                            </span> 
                                                                                        </div>

                                                                                    </div>

                                                                                </form>                                                                                 
                                                                            </div>
                                                                        </div>                                                                        
                                                                    }
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    @if((await userManager.IsInRoleAsync(user_id,"Admins")))
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-sm-10">
                                                                                <div class="d-flex flex-row justify-content-between">                                                                                                                        
                                                                                            
                                                                                    @*<form asp-action="Delete" method="post" id="frm1">                                                                                 
                                                                                        
                                                                                        <input type="hidden" name="@item.AccidentReportID" id="@item.AccidentReportID" asp-for="@item.AccidentReportID" name="AccidentReportID"  class="form-control">

                                                                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Report">
                                                                                            <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                            </a> 
                                                                                        </span>                                                                                
                                                                                    
                                                                                    </form>  *@                                    
                                                                                
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                    }
                                                                </div>
                                                                    
                                                            
                                                            </div>
                                                        
                                                        }
                                                        else
                                                        {
                                                            
                                                            <div class="col-sm-12">
                                                                
                                                                    <div class="row" id="reportDetails">
                                                                        <a style="text-decoration: none;" id="reportDetailsStyle" onclick="getReportDetail(this);" value="@sAccDet">                                                                                        
                                                                            <div class="col-sm-10">
                                                                                <div class="d-flex flex-row justify-content-between"> 
                                                                                    <span class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Unonfirmed">                                                                                    
                                                                                        <i class="align-middle" style="color:red;" data-feather="alert-circle" aria-hidden="true"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <h4 class="card-title"><span class="h4">Accident ID: </span>@item.AccidentID</h4>
                                                                            <h5><span class="fw-bold">Date of Accident: </span>@item.AccidentDate.ToShortDateString()</h5>
                                                                            <h5><span class="fw-bold">Police Station:</span> @item.PoliceStationName</h5>
                                                                            <h5><span class="fw-bold">Type of Accident: </span>@item.TypeOfAccident</h5>
                                                                        </a>
                                                                    </div>                                                             
                                                                
                                                                    @if(@item.AccountID == AccountID_) //Officers can only edit reports that they've created.
                                                                    {   
                                                                        <div class="col-sm-12">
                                                                            @if((await userManager.IsInRoleAsync(user_id,"Officer")))
                                                                            {  
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <form asp-action="Delete" method="post" id="frm1">                                                                                 
                                                                                            <div class="d-flex flex-row justify-content-between">  
                                                                                                <input type="hidden" name="@item.AccidentReportID" id="@item.AccidentReportID" asp-for="@item.AccidentReportID" name="AccidentReportID"  class="form-control">
                                                                                                <div class="col-auto">
                                                                                                    <a asp-action="EditReport" class="btn btn-sm btn-outline-info" asp-route-AccidentReportID="@item.AccidentReportID">
                                                                                                        <i class="align-middle" data-feather="edit"></i>&nbsp;
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="col-auto">
                                                                                                   
                                                                                                    <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                        <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                                    </a>   
                                                                                                      
                                                                                                    
                                                                                                </div>                                                                               
                                                                                            </div>

                                                                                        </form>  
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            
                                                                            }
                                                                        </div>
                                                                    }
                                                                    <div class="col-sm-12">
                                                                        @if((await userManager.IsInRoleAsync(user_id,"Data Manager")))
                                                                        {
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <form asp-action="EditReport" method="post" id="frm1">
                                                                                        <div class="d-flex flex-row justify-content-between"> 
                                                                                                                                                                                            
                                                                                            <input type="hidden" asp-for="@item.AccidentReportID" value="@item.AccidentReportID" name="AccidentReportID" />
                                                                                                                                                                                        
                                                                                            
                                                                                            <div class="col-auto">
                                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm Report">
                                                                                                    <a asp-action="EditReport" asp-route-AccidentReportID="@item.AccidentReportID" class="btn btn-sm btn-outline-success" >
                                                                                                        <i class="align-middle" data-feather="check-square"></i>&nbsp;
                                                                                                    </a>
                                                                                                </span>
                                                                                            </div>

                                                                                            <div class="col-auto">
                                                                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Report">
                                                                                                    <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                        <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                                    </a>
                                                                                                </span> 
                                                                                            </div>

                                                                                        </div>

                                                                                    </form>                                                                                 
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        @if((await userManager.IsInRoleAsync(user_id,"Admins")))
                                                                        {
                                                                            <div class="row">
                                                                                <div class="col-sm-10">
                                                                                    <div class="d-flex flex-row justify-content-between">                                                                                                                        
                                                                                                
                                                                                        @* <form asp-action="Delete" method="post" id="frm1">                                                                                 
                                                                                            
                                                                                            <input type="hidden" name="@item.AccidentReportID" id="@item.AccidentReportID" asp-for="@item.AccidentReportID" name="AccidentReportID"  class="form-control">

                                                                                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Report">
                                                                                                <a class="btn btn-sm btn-outline-danger" onclick="del()">
                                                                                                    <i class="align-middle" data-feather="delete" aria-hidden="true"></i>
                                                                                                </a>
                                                                                            </span>                                                                                 
                                                                                        
                                                                                        </form> *@                                     
                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        
                                                                        }
                                                                    </div>
                                                                    
                                                            </div>
                                                    
                                                        }                                                                   
                                                        
                                                            
                                                    </div>
                                                </div>
                                            </div> 

                                     
                                        </div>
                                    </div>     
                                                                                                                                                        
                                }  
                            }         
                            else
                            {
                                <div class="text-center">
                                    <h4 class="text-info">No Accident Reports Logged</h4>
                                </div>
                            }
                            
                        </div>              
                    
                    </div>  
                
                </div>
                <div class="row">
                    @{
                        string sortUser = Context.Request.Query["sortUser"];
                        string sortOrder = Context.Request.Query["sortOrder"];
                        string accidentType = Context.Request.Query["accidentType"];
                        string filterConfirmed_ = Context.Request.Query["filterConfirmed"];
                    }
                    
                    <div class="text-center" style="float:none; margin: 0 auto;" id="pagersortUser">                       
                        <div page-model="@Model.PaginationHeader" page-action="LatestAccidents"  page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary"
                            page-class-selected="btn-primary" page-url-sortUser="@sortUser" class="btn-group text-center"> 
                        </div>
                    </div>
                    
                    <div class="text-center" style="float:none; margin: 0 auto;" id="pagersortOrder">                      
                        <div page-model="@Model.PaginationHeader" page-action="LatestAccidents"  page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary"
                            page-class-selected="btn-primary" page-url-sortOrder="@sortOrder" class="btn-group text-center">  
                        </div>
                    </div> 

                    <div class="text-center" style="float:none; margin: 0 auto;" id="pagerAccType">                      
                        <div page-model="@Model.PaginationHeader" page-action="LatestAccidents"  page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary"
                            page-class-selected="btn-primary" page-url-accidentType="@Model.AccidentTypeID" class="btn-group text-center">  
                        </div>
                    </div>

                    <div class="text-center" style="float:none; margin: 0 auto;" id="pagerfilterConfirmed">    
                        <div page-model="@Model.PaginationHeader" page-action="LatestAccidents" page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary"
                            page-class-selected="btn-primary" page-url-filterConfirmed="@filterConfirmed_" class="btn-group text-center">  
                        </div>
                    </div>  

                    <div class="text-center" style="float:none; margin: 0 auto;" id="pagerDefault">                        
                         <div page-model="@Model.PaginationHeader" page-action="LatestAccidents" page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary"
                            page-class-selected="btn-primary" class="btn-group text-center"> 
                        </div> 
                    </div> 
            
                  
                </div>
                        
            </div>           
                        
        </div>
    </div>

</div>

<script>
    
    var accType = document.getElementById('pagerAccType');
    var sortOrder = document.getElementById('pagersortOrder');
    var sortUser = document.getElementById('pagersortUser');
    var sortConfirmed = document.getElementById('pagerfilterConfirmed');
    var pagerDef = document.getElementById('pagerDefault');   

  
    var urlParams = new URLSearchParams(window.location.search);
    var qs_sortUser = urlParams.get('sortUser');
    var qs_sortOrder = urlParams.get('sortOrder');       
    var qs_accidentType = urlParams.get('accidentType'); 
    var qs_filterConfirmed = urlParams.get('filterConfirmed');  

                   
        if(qs_sortOrder =="Oldest" || qs_sortOrder=="Newest"){
            sortOrderChange();
            document.getElementById("sortOrder").value = qs_sortOrder;
        }else{
            if(qs_sortUser == "LoggedIn" || qs_sortUser == "AllUsers"){
                sortUserChange();   
                document.getElementById("sortUser").value = qs_sortUser;
            }else{
                if(qs_filterConfirmed == "Confirmed" || qs_filterConfirmed == "Unconfirmed"){
                    filterConfirmedFunc();   
                    document.getElementById("sortConfirmed").value = qs_filterConfirmed;                }
                else{
                    if(qs_accidentType > 0){
                        accTypeChange();
                        document.getElementById("AccType").value = qs_accidentType;
                    }else{
                        showDefault();
                    }
                
               }   
            }
                               
        } 
  
    function showDefault(){            
        sortOrder.style.display = 'none';
        sortUser.style.display = 'none';
        pagerDef.style.display = 'block';
        accType.style.display = 'none';
        sortConfirmed.style.display = 'none';
    }         
   
    function accTypeChange(){
        sortOrder.style.display = 'none';
        sortUser.style.display = 'none';
        pagerDef.style.display = 'none';
        accType.style.display = 'block';
        sortConfirmed.style.display = 'none';
        
    }

     function sortUserChange(){
        sortOrder.style.display = 'none';
        accType.style.display = 'none';
        pagerDef.style.display = 'none';
        sortUser.style.display = 'block';
        sortConfirmed.style.display = 'none';
    }

    function sortOrderChange(){
        accType.style.display = 'none';
        sortUser.style.display = 'none';
        pagerDef.style.display = 'none';   
        sortOrder.style.display = 'block';    
        sortConfirmed.style.display = 'none'; 
    }

    function filterConfirmedFunc(){
        accType.style.display = 'none';
        sortUser.style.display = 'none';
        pagerDef.style.display = 'none';   
        sortOrder.style.display = 'none';
        sortConfirmed.style.display = 'block';

    }
            
        document.getElementById("AccType").onchange = function() {
            if (this.selectedIndex !== 0) {
                window.location.href = "LatestAccidents?accidentType="+ this.value + "&Page=1?";       
                //alert("LatestAccidents?accidentType="+ this.value + "&Page=1?");
                 document.getElementById("AccType").value = this.value; 
            }        
        };

        document.getElementById("sortUser").onchange = function() {
            if (this.selectedIndex !== 0) {
                //alert("LatestAccidents?sortUser="+ this.value + "&Page=1?"); 
                window.location.href = "LatestAccidents?sortUser="+ this.value + "&Page=1?";                
                document.getElementById("sortUser").value = this.value;               
            }        
        };

        document.getElementById("sortOrder").onchange = function() {
            if (this.selectedIndex !== 0) {
                //alert("LatestAccidents?sortOrder="+ this.value + "&Page=1?");
                window.location.href = "LatestAccidents?sortOrder="+ this.value + "&Page=1?";  
                document.getElementById("sortOrder").value = this.value;
            }        
        };

        document.getElementById("sortConfirmed").onchange = function() {
            if (this.selectedIndex !== 0) {
                //alert("LatestAccidents?filterConfirmed="+ this.value + "&Page=1?");
                window.location.href = "LatestAccidents?filterConfirmed="+ this.value + "&Page=1?";  
                document.getElementById("filterConfirmed").value = this.value;
            }        
        };
    
    
</script>


    